extends layout

block content
    h1= productName
    if salepreis == ""
        p Preis: #{preis}
        p Kein Sale
    else
        p Sale Preis: #{salepreis} statt #{strokepreis}
    p Availability: #{availability}
    p Image:
    span <img src="#{image}" width="200px"></img>
