extends layout

block content
    -var productlist = productdata
    -function prettyDate(dateString){
        -var d = date.getDate(dateString);
        -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
        -var m = monthNames[date.getMonth()];
        -var y = date.getFullYear();
        -return d+' '+m+' '+y;
    -}
        #productlist
            div.container
                a(href="/") Back
                h2=title
                div.col-md-12!=chart
                table#myTable.table
                    thead
                        th Datum
                        th Uhrzeit
                        th Preis
                        th Verfügbarkeit
                    tbody
                        each data in productdata
                            tr
                                td=data.date
                                td=data.time
                                td=data.realpreis
                                td=data.availability
                <br>
                a(href="/") Back
