extends layout

block content
    -var productlist = productdata
        #productlist
            div.container
                a(href="/") Back
                h2=title
                div.col-md-12!=chart
                table#myTable.table
                    thead
                        th Datum
                        th Uhrzeit
                        th Preis
                        th Verfügbarkeit
                    tbody
                        each data in productdata
                            tr
                                td=data.date
                                td=data.time
                                td=data.realpreis
                                td=data.availability
                <br>
                a(href="/") Back
